<section class="my-28 px-5">
  <header class="text-4xl font-bold pt-10 pb-3">
    <h2>Skills & Tools</h2>
  </header>
  <div class="my-7 grid gap-5 grid-cols-3 md:grid-cols-6">
    <div
      class="flex flex-col items-center"
      tabindex="0"
      role="img"
      aria-label="C++"
    >
      <img
        src="../../assets/images/icons/cplus.svg"
        alt=""
        loading="lazy"
        class="w-16 mb-1"
        width="64px"
        height="64px"
      />
      C++
    </div>
    <div
      class="flex flex-col items-center"
      tabIndex="0"
      role="img"
      aria-label="ReactJS"
    >
      <img
        src="../../assets/images/icons/react.svg"
        alt=""
        loading="lazy"
        class="w-16 mb-1"
        width="64px"
        height="64px"
      />
      React JS
    </div>
    <div
      class="flex flex-col items-center"
      tabIndex="0"
      role="img"
      aria-label="Firebase"
    >
      <img
        src="../../assets/images/icons/firebase.svg"
        alt=""
        loading="lazy"
        class="w-16 mb-1"
        width="64px"
        height="64px"
      />
      Firebase
    </div>
    <div
      class="flex flex-col items-center"
      tabIndex="0"
      role="img"
      aria-label="Flutter"
    >
      <img
        src="../../assets/images/icons/flutter.svg"
        alt=""
        loading="lazy"
        class="w-16 mb-2"
        width="64px"
        height="64px"
      />
      Flutter
    </div>
    <div
      class="flex flex-col items-center"
      tabIndex="0"
      role="img"
      aria-label="MySQL"
    >
      <img
        src="../../assets/images/icons/mysql.svg"
        alt=""
        loading="lazy"
        className="w-16 mb-1"
        width="64px"
        height="64px"
      />
      My SQL
    </div>
    <div
      class="flex flex-col items-center"
      tabIndex="0"
      role="img"
      aria-label="Tensorflow"
    >
      <img
        src="../../assets/images/icons/tensorflow.svg"
        alt=""
        loading="lazy"
        class="w-16 mb-1"
        width="64px"
        height="64px"
      />
      Tensorflow
    </div>
  </div>
</section>
